body {
    margin: 0;    
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 5%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-end;
}

#company-name {
    color: #05c46b;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#nav-links a {
    color: #485460;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

#navlinks a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#slideshow-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    position: relative;
}

#slideshow {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.slides {
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.slides img {
    height: 100%;
    width: 100%;
}

.slide-text {
    position: absolute;
    color: #fff;
    background-color: rgba(30, 39, 46, .9);
    padding: 5%;
}

#text-create{
    left: 80%;
    top: 10%;
}

#text-plan{
    left: 80%;
    top: 60%;
}

#text-track{
    left: 10%;
    top: 10%;
}

#slogan {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    left: 30%;
    top: 60%;
    font-size: 24px;
}

.show {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
    opacity: 1;
    z-index: 2;
}

#our-values {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.values img {
    width: 65px;
    height: 60px;
    text-align: center;
}

.values h3 {
    text-align: center;
}

#shop-now {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 800px;
    background-image: url("../images/white_paper.jpeg");
    background-size: auto 1200px;
    text-align: center;
}

#shop-now a {
    text-decoration: none;
    background-color: rgba(30, 39, 46, .9);
    font-size: 64px;
    color: #fff;
    padding: 4%;
}

#shop-now a:hover {
    text-decoration: underline;
    font-weight: bold;
}

#testimonials {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    height: 800px;
}

#testimonials h2 {
    align-self: flex-start;
}

#reviews-box {
    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}

.reviews {
    display: flex;
    background-color: #05c46b;
    width: 200px;
    text-align: center;
    padding: 5%;
    border-radius: 25%;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#get-help {
    display: flex;
    flex-wrap:reverse-wrap;
    flex-direction: row;
    font-size: 18px;
}

input {
    text-align: right;
    font-size: 18px;
}

button {
    font-size: 18px;
}

#social-links {
    display: flex;
    align-self: center;
}

#social-links a img {
    width: 40px;
}

footer {
    display: flex;
    height: 200px;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: #485460; 
}

#links {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#link-col-1, #link-col-2 {
    display: flex;
    flex-direction: column;
    margin: auto 5%;
}

#copyright {
    display: flex;
    text-align: right;
    align-self: flex-end;
}

.fadeIn {
    -webkit-animation: fadeIn 2s forwards;
    animation: fadeIn 2s forwards;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
